---
BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 120
...
